@import url('~/assets/fonts/helvetica/helvetica.css')
@import url('~/assets/fonts/helvetica-neue/helvetica-neue.css')

.pointer
  cursor: pointer !important

.landing-bg
  background: url('~/assets/images/landing.png') !important
  background-repeat: no-repeat !important
  background-size: cover !important

.primary-bg-color
  background: #223345 !important

.tertiary-bg-color
  background: #EEEEEE !important

.secondary-bg-color
  background: #ECC13F !important

.primary-text-color
  color: #223345 !important

.secondary-text-color
  color: #ECC13F !important

.field-border-color
  color: #E5E4E4 !important

.card-title-border
  border-radius: 10px 10px 0 0 !important

.vertical
  border-right: 1px solid #555555 !important

.vertical-border-left
  border-left: 1px solid #555555 !important

.horizontal
  border-bottom: 1px dashed #555555 !important

.break-word
  word-break: break-word !important

.table-header-bg
  background: #7C7C7C !important

.table-header-color
  color: #FFFFF !important

.checked-menu:hover
  background-color: #E4EBF0 !important
  opacity: 0.9 !important
  color: #777777 !important
  width: 100% !important
 
.text-decor-none
  text-decoration: none !important

.checklist-color
  color: #E4EBF0 !important

.tabs
  overflow: visible !important

.tab
  overflow: hidden !important

.tab.active
  z-index: 40 !important
  position: relative !important
  padding-bottom: 1px !important
  background-color: #E4EBF0 !important
  width: 100% !important

.tabColor
  color: #566794 !important

.tabEvalColor
  color: black !important
  background-color: #EAEBF0 !important

.card-actions
  position: absolute !important
  bottom: 0 !important
  right: 0 !important

.card-style
  border: 1px solid #DBDBDA !important

.card-text-color
  color: #525E75 !important

.tab-width
  max-width: 120% !important

.floating-btn
  bottom: 100px !important

.ul-circle
  list-style-type: circle !important

.ul-square
  list-style-type: square !important

.ul-arrow
  list-style-type: '> ' !important

.ul-none
  list-style-type: none !important

.menu:hover
  background-color: #374d63 !important

.filterColor
  background-color: #374d63 !important
